@model IEnumerable<Code_Assessment_7_Asp.net_Mvc.Models.Department>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<h3 style="color:green">@TempData["Message"]</h3>
<h3 style="color:green">@TempData["UpdateMessage"]</h3>
<h3 style="color:green">@TempData["DeleteMessage"]</h3>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DepartmentId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartmentName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.DepartmentId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DepartmentName)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.DepartmentId }) |
        @Html.ActionLink("Details", "Details", new { id = item.DepartmentId }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.DepartmentId })
    </td>
</tr>
    }

</table>
