
@model ModelsMVC.Models.Employee
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @DateTime.Now
    </div>
    <div>
        @{ 
            var a = 5;
            var b = 6;
            var c = a + b;
            var colorlist = new List<string> { "Red", "Green", "Blue", "Black" };
           
            
        }
    </div>
    <div>
        @helper myHelper(string[] str)
           {
        <ul>
            @foreach(var item in str)
            {
              <li>@item</li>
            }
        </ul>
           }
    </div>
    <div>
        <label>Example 1 - Name list</label>
        <div>
            @myHelper(new string[] { "Tom","Harry","John","Mark"})
        </div>
    </div>
   
    <label>@c</label>
    <label>@colorlist.FirstOrDefault()</label>
    <label>My twitter handle is - @@mohdidris</label>
    <table>
        <tbody>
            <tr>
                <td>
                    Id
                </td>
                <td>
                    @Model.Id
                </td>
            </tr>
            <tr>
                <td>
                    Name
                </td>
                <td>
                    @Model.Name
                </td>
            </tr>
            <tr>
                <td>
                    Address
                </td>
                <td>
                    @Model.Address
                </td>
            </tr>
        </tbody>
    </table>
    <div> 
    </div>
</body>
</html>
